# Configuration file

energy_values {
    # How much energy each Iskallium Block provides [range: 0 ~ 255, default: 160]
    I:eachIskalliumBlockPowerValue=160
}


world_generation {
    # Maximum patch size of Iskallium generated [range: 1 ~ 255, default: 1]
    I:iskalliumGenerationPatchSize=1

    # Weight for ore generation of Iskallium [range: 0 ~ 255, default: 60]
    I:iskalliumGenerationWeight=10
}


