# Configuration file

addons {
    # Recycler ammo add % chance
    I:recycler=10

    # Generates RF from redstone dust/blocks in turret's inventory
    I:redstone=1550

    # Generates specified RF every tick in sunlight
    I:solar=10
}


expanders {
    I:"Power expander tier five capacity"=5000000
    I:"Power expander tier four capacity"=250000
    I:"Power expander tier one capacity"=250
    I:"Power expander tier three capacity"=75000
    I:"Power expander tier two capacity"=25000
}


globaltargetingparameters {
    B:"Can turrets attack mobs?"=true
    B:"Can turrets attack neutrals?"=true
    B:"Can turrets attack players?"=true
    I:"If a turret does not have a target, how many ticks should it wait before looking again?"=10
}


miscellaneous {
    B:"Are turrets/turret bases breakable by anyone?"=false
    B:"Can grenades destroy normal blocks?"=false
    B:"Can rockets destroy normal blocks?"=false
    B:"Can rockets fired by the rocket launcher turret home on targets ?"=false
    B:"Can rockets fired by the rocket launcher turret hurt the Ender Dragon?"=false
    B:"Can the railgun destroy normal blocks?"=false
    B:"Can turrets damage their trusted players when they accidentally hit them?"=true
    B:"Do Mobs killed by turrets drop loot?"=true
    B:"Enable/Disable turret alarm sound. True=enabled, false=disabled"=true
    B:"Should turret bases be camouflage-able with normal blocks?"=true
    B:"Should turret warn message be displayed?"=true
    I:"Turret sound volume percentage (Between 0 - 100)"=40
    S:"Which recipes should we do? (auto, enderio, mekanism, vanilla)"=auto

    # Which Items should be usable as disp. ammo (modid:itemname[:meta], if meta is omitted it enables all subitems/blocks) [default: [minecraft:cobblestone], [minecraft:planks]]
    S:disposableAmmoList <
        minecraft:cobblestone
        minecraft:planks
     >

    # Which Entities should not be targetable by turrets? String is the name used by the /summon command. [default: [ArmorStand]]
    S:mobBlackList <
        ArmorStand
     >

    # Distance outside the max range of a turret players should be warned
    I:warningDistance=5

    # Use Whitelist for ammo slots?
    B:whitelistForAmmo=true
}


modcompatibility {
    I:"How much essentia the Potentia Addon can store"=20
    I:"Potentia Addons' RF conversion ratio per 1 essentia"=500
    B:"Should we enable items that integrate with Thaumcraft?"=true
}


turretbasetierfive {
    I:BlastResistance=25
    I:Hardness=60
    I:MaxCharge=10000000
    I:MaxIo=5000
}


turretbasetierfour {
    I:BlastResistance=20
    I:Hardness=50
    I:MaxCharge=500000
    I:MaxIo=1500
}


turretbasetierone {
    I:BlastResistance=5
    I:Hardness=20
    I:MaxCharge=500
    I:MaxIo=50
}


turretbasetierthree {
    I:BlastResistance=15
    I:Hardness=40
    I:MaxCharge=150000
    I:MaxIo=500
}


turretbasetiertwo {
    I:BlastResistance=10
    I:Hardness=30
    I:MaxCharge=50000
    I:MaxIo=100
}


turretdisposable {
    # Value between 0 - 100, where 0 will miss 0% of the time over a distance of 10 blocks, subject to standard deviation.
    I:Accuracy=50

    # Measured in half-hearts
    I:Damage=2

    # Value of the bonus damage (relative to HP of enemy target) for the turret per damage amp addon.
    D:DamageAmpBonus=0.05000000074505806

    # Enabled?
    B:Enabled=true

    # Number of ticks between firings
    I:FireRateCooldown=25

    # RF used per shot
    I:PowerUsage=2

    # Turret range, in blocks
    I:Range=10
}


turretgrenade {
    # Value between 0 - 100, where 0 will miss 0% of the time over a distance of 10 blocks, subject to standard deviation.
    I:Accuracy=30

    # Measured in half-hearts
    I:Damage=8

    # Value of the bonus damage (relative to HP of enemy target) for the turret per damage amp addon.
    D:DamageAmpBonus=0.07999999821186066

    # Enabled?
    B:Enabled=true

    # Number of ticks between firings
    I:FireRateCooldown=40

    # RF used per shot
    I:PowerUsage=3000

    # Turret range, in blocks
    I:Range=20
}


turretincendiary {
    # Value between 0 - 100, where 0 will miss 0% of the time over a distance of 10 blocks, subject to standard deviation.
    I:Accuracy=30

    # Measured in half-hearts
    I:Damage=2

    # Value of the bonus damage (relative to HP of enemy target) for the turret per damage amp addon.
    D:DamageAmpBonus=0.05000000074505806

    # Enabled?
    B:Enabled=true

    # Number of ticks between firings
    I:FireRateCooldown=25

    # RF used per shot
    I:PowerUsage=250

    # Turret range, in blocks
    I:Range=12
}


turretlaser {
    # Value between 0 - 100, where 0 will miss 0% of the time over a distance of 10 blocks, subject to standard deviation.
    I:Accuracy=10

    # Measured in half-hearts
    I:Damage=2

    # Value of the bonus damage (relative to HP of enemy target) for the turret per damage amp addon.
    D:DamageAmpBonus=0.05999999865889549

    # Enabled?
    B:Enabled=true

    # Number of ticks between firings
    I:FireRateCooldown=10

    # RF used per shot
    I:PowerUsage=10000

    # Turret range, in blocks
    I:Range=25
}


turretmachinegun {
    # Value between 0 - 100, where 0 will miss 0% of the time over a distance of 10 blocks, subject to standard deviation.
    I:Accuracy=30

    # Measured in half-hearts
    I:Damage=2

    # Value of the bonus damage (relative to HP of enemy target) for the turret per damage amp addon.
    D:DamageAmpBonus=0.05999999865889549

    # Enabled?
    B:Enabled=true

    # Number of ticks between firings
    I:FireRateCooldown=8

    # RF used per shot
    I:PowerUsage=100

    # Turret range, in blocks
    I:Range=18
}


turretpotatocannon {
    # Value between 0 - 100, where 0 will miss 0% of the time over a distance of 10 blocks, subject to standard deviation.
    I:Accuracy=30

    # Measured in half-hearts
    I:Damage=3

    # Value of the bonus damage (relative to HP of enemy target) for the turret per damage amp addon.
    D:DamageAmpBonus=0.05000000074505806

    # Enabled?
    B:Enabled=true

    # Number of ticks between firings
    I:FireRateCooldown=35

    # RF used per shot
    I:PowerUsage=10

    # Turret range, in blocks
    I:Range=15
}


turretrailgun {
    # Value between 0 - 100, where 0 will miss 0% of the time over a distance of 10 blocks, subject to standard deviation.
    I:Accuracy=0

    # Measured in half-hearts
    I:Damage=25

    # Value of the bonus damage (relative to HP of enemy target) for the turret per damage amp addon.
    D:DamageAmpBonus=0.10000000149011612

    # Enabled?
    B:Enabled=true

    # Number of ticks between firings
    I:FireRateCooldown=100

    # RF used per shot
    I:PowerUsage=25000

    # Turret range, in blocks
    I:Range=30
}


turretrelativistic {
    # Value between 0 - 100, where 0 will miss 0% of the time over a distance of 10 blocks, subject to standard deviation.
    I:Accuracy=0

    # Measured in half-hearts
    I:Damage=0

    # Enabled?
    B:Enabled=true

    # Number of ticks between firings
    I:FireRateCooldown=100

    # RF used per shot
    I:PowerUsage=5000

    # Turret range, in blocks
    I:Range=20
}


turretrocket {
    # Value between 0 - 100, where 0 will miss 0% of the time over a distance of 10 blocks, subject to standard deviation.
    I:Accuracy=10

    # Measured in half-hearts
    I:Damage=10

    # Value of the bonus damage (relative to HP of enemy target) for the turret per damage amp addon.
    D:DamageAmpBonus=0.07999999821186066

    # Enabled?
    B:Enabled=true

    # Number of ticks between firings
    I:FireRateCooldown=30

    # RF used per shot
    I:PowerUsage=5000

    # Turret range, in blocks
    I:Range=30
}


turretteleporter {
    # Value between 0 - 100, where 0 will miss 0% of the time over a distance of 10 blocks, subject to standard deviation.
    I:Accuracy=0

    # Measured in half-hearts
    I:Damage=0

    # Enabled?
    B:Enabled=true

    # Number of ticks between firings
    I:FireRateCooldown=100

    # RF used per shot
    I:PowerUsage=15000

    # Turret range, in blocks
    I:Range=20
}


upgrades {
    # Increases accuracy linearly
    D:accuracy=0.2

    # Reduces power consumption linearly
    D:efficiency=0.08

    # Increases range in blocks linearly
    I:range=2

    # It's a double for some reason, reduces cooldown
    D:rateOfFire=0.1
}


