# Configuration file

modules {
    # Integrate with Actually Additions [default: true]
    B:"Enable Actually Additions support"=true

    # Integrate with Advanced Rocketry (actually LibVulpes) [default: true]
    B:"Enable Advanced Rocketry integration"=true

    # Integrate with ArmorPlus [default: true]
    B:"Enable ArmorPlus integration"=true

    # Integrate with Avaritia [default: true]
    B:"Enable Avaritia support"=true

    # Integrate with Biomes o' Plenty [default: true]
    B:"Enable BoP integration"=true

    # Integrate with Botania [default: true]
    B:"Enable Botania integration"=true

    # Integrate with Draconic Evolution [default: true]
    B:"Enable Draconic Evolution integration"=true

    # Integrate with EnderIO [default: true]
    B:"Enable EnderIO integration"=true

    # Integrate with Mekanism [default: true]
    B:"Enable Mekanism integration"=true

    # Integrate with Natura [default: true]
    B:"Enable Natura support"=true

    # Integrate with Project Red-Exploration [default: true]
    B:"Enable Project Red integration"=true

    # Integrate with Psi [default: true]
    B:"Enable Psi support"=true

    # Integrate with Substratum [default: true]
    B:"Enable Substratum support"=true

    # Integrate with Thermal Foundation [default: true]
    B:"Enable Thermal Foundation integration"=true

    # Add features to vanilla Tinkers Construct [default: true]
    B:"Enable vanilla TiC addons"=true
}


tools {
    # Enable Katana [default: true]
    B:"Enable Katana"=true

    # Multiply combo value by this to calculate bonus damage [range: 0.0 ~ 3.4028235E38, default: 1.25]
    S:"Katana combo multiplier"=1.25
}


tweaks {
    # Enter in the format "modid:name;meta" (leave meta blank to match any meta) [default: ]
    S:"Items that Endlectric will not drain from" <
     >

    # Enter in order of level (defaults will be extrapolated if some left blank)
    I:"Modifier values for Botanical" <
     >
}


