# Configuration file

compatibility {
    # If set to false, the grave will not grab any of the player's Bauble inventory. (Defaults to true)
    B:allowBaubles=true

    # If set to false, the grave will not grab any of the player's Cosmetic Armor inventory. (Defaults to true)
    B:allowCosmeticArmor=true

    # If set to false, the grave will not grab any of the player's expandable backpack inventory. (Defaults to true)
    B:allowExpandableBackpacks=true

    # If set to false, the grave will not grab any of the player's Eydamos backpack inventory. (Defaults to true)
    B:allowEydamosBackpacks=true

    # If set to false, the grave will not attempt to grab the player's equiped Iron Backpack. (Defaults to true)
    B:allowIronBackpacks=true

    # If set to false, the grave will not grab any of the player's vanilla inventory. (Defaults to true)
    B:allowPlayerInventory=true

    # If set to false, the grave will not grab any of the player's Thut's Wearables inventory. (Defaults to true)
    B:allowThutWearables=true

    # Any item with an enchantment in this list will not be gathered by any grave (above the minimum level). The format is [registry_name_as_resource_location]#[minimum_accepted_level].
    S:blacklistedEnchantments <
        enderio:soulBound#0
     >

    # Any items in this list will not be gathered by any grave that forms. DO NOT remove tombmanygraves:DeathList from the blacklist; Doing such can cause graves to become too large and corrupt your world.
    S:blacklistedItems <
        tombmanygraves:DeathList
        botanicaladdons:deathStone
     >

    # A list of slots from the player's inventory to ignore upon death. (Defaults to nothing).
    I:blacklistedPlayerInventory <
     >
}


effects {
    # If set to false, the item lists will not show the way to its grave. (Defaults to true.)
    B:allowParticlePath=true

    # This is the color of the path particles spawned by the death inventory list when you are more than 100 blocks from the grave. (Defaults to 0x000000
    S:farParticleColor=0x000000

    # This is the color of the path particles spawned by the inventory list when you are withing 10 blocks of the grave. (Defaults to 0xFFFFFF.)
    S:nearParticleColor=0xFFFFFF

    # If set to true, the death lists will only show their particles when the player is sneaking. (Defaults to false.)
    B:requireSneakForPath=false
}


graves {
    # If set to true, this will allow *any* player (not just the one who died) to lock/unlock graves and gather their items. (Defaults to false)
    B:allowGraveRobbing=false

    # If this is true, graves will be able to replace flowing lava blocks. (Defaults to true)
    B:allowGravesInFLOWINGLava=true

    # If this is true, graves will be able to replace flowing water blocks. (Defaults to true)
    B:allowGravesInFLOWINGWater=true

    # If this is true, graves will be able to replace still lava blocks. (Defaults to true)
    B:allowGravesInLava=true

    # If this is true, graves will be able to replace still water blocks. (Defaults to true)
    B:allowGravesInWater=true

    # If this is true, graves will be able to replace any/all plants (anything that implements IPlantable). (Defaults to true)
    B:allowGravesOnPlants=true

    # If set to true, this will send chat messages to a player when the lock/unlock a grave. (Defaults to false)
    B:allowLockingMessages=false

    # Setting this to true will have the grave try to place itself above bodies of liquid (water, lava, etc...). If a valid location is not found at the top, it will still attempt to place the grave near the actual location of death. (Defaults to false)
    B:ascendLiquid=false

    # If this is true, spawned graves will default to being locked and will need to be unlocked (via shift-clicking) in order to get items back. (Defaults to true)
    B:defaultToLocked=false

    # If true, graves will display their owner's name above them when looking at the block. (Defaults to true)
    B:displayGraveName=true

    # If true, the graves will drop all items on the ground when 'broken' instead of attempting to place them in their original slots. (Defaults to false)
    B:dropItemsOnGround=false

    # Set to false to disable graves spawning upon player deaths, saving their inventory. (Defaults to true)
    B:enableGraves=true

    # If true, all graves will render as either a floating head or with the dirt texture and will not adapt to the texture beneath it. (You can set this to true to fix specific client-side crashes.) (Defaults to false)
    B:forceDirtRender=false

    # If true, grave items will be returned to their original slots even if they aren't empty. Any item that was in that slot will be dropped on the ground instead. You can right-click your grave to change to the alternate behavior in-game. (Defaults to true)
    B:givePriorityToGraveItems=true

    # This is the radius that will be searched to find an air block to place the grave. (Radius = abs(max{x,y,z})). Note: if death happens with y<0, it will center its search around y=graveRadius (unless 'startVoidSearchAt1' is true). (Defaults to 9, max of 32)
    I:graveSearchRadius=9

    # Changing this value changes how the grave skull renders. 0 = Skeleton, 1 = Wither Skeleton, 2 = Zombie, 3 = Player, 4 = Creeper. Any value outside this range will be set to 3 instead. (Defaults to 3)
    I:graveSkullRenderType=3

    # If set to true, players will be required to sneak to their grave to get their items back; otherwise any contact at all will allow retrieval. (Defaults to true)
    B:requireSneaking=true

    # If true, when a player dies with y < 0, the grave will start searching for a valid location at y = 1 instead. If false, it will start searching at y = GRAVE_RANGE. (Defaults to false.)
    B:startVoidSearchAt1=false
}


inventory {
    # If set to false, death inventory lists will NOT be spawned in when a player respawns after death. (Defaults to true
    B:allowInventoryLists=true

    # If set to true, a file will be generated for each player death, allowing OPs to restore a player's inventory from the file. Note that these files are *per machine*, that means you could potentially restore inventories from other worlds in single-player (or servers if you don't delete the inventory data). Setting this to false will disable any command that requires use of the backups to operate (restore, drop, and loot commands). (Defaults to true)
    B:allowInventorySaves=true
}


logs {
    # If true, the log will print the location of a player's death each time they die. (Defaults to true)
    B:printDeathLog=true
}


