# Configuration file

core_settings {
    # Enables the use of symbols in place of some words. This will make things like true display as a check mark. [default: true]
    B:Symbols=true
}


generic_entities {
    # When enabled, information about the animal will be displayed. [default: true]
    B:Animal=true

    # When enabled, shows how long the entity has before it can breed again. [default: true]
    B:Animal_Breeding_Cooldown=true

    # When enabled, will show if the held item is a breeding item. [default: true]
    B:Animal_Breeding_Item=true

    # When enabled, shows how long the entity has before it is fully grown. [default: true]
    B:Animal_Growing_Age=true

    # When enabled, the total amount of armor points will be added to the HUD, if it is greater than 0. [default: true]
    B:Armor_Points=true

    # When enabled, a list of armor that the entity is wearing will be added to the HUD. [default: true]
    B:Equipment=true

    # When enabled, the player must be sneaking to show information. [default: true]
    B:Equipment_Sneak=true

    # When enabled, names of equipment will have a purple star beside them when enchanted. [default: true]
    B:Equipment_Star=true

    # When enabled, tameable entities will have extra info on the hud [default: true]
    B:Tameable=true

    # When enabled, shows when an entity is sitting. [default: true]
    B:Tameable_Sitting=true

    # When enabled, will tell players that are not the owner if the entity is tamed. [default: true]
    B:Tameable_Tamed=true
}


generic_items {
    # Should the tooltip for enchanted books give descriptions of the enchantment? [default: true]
    B:EnchantDescriptions=true

    # Shows the name of the mod which added the fluid? [default: true]
    B:FluidOwner=true

    # Shows the temperature of the fluid held by items? [default: true]
    B:FluidTemperature=true

    # Should the tooltip for enchanted books show the name of the mod that added them? [default: true]
    B:ShowEnchantmentSource=true
}


generic_tiles {
    # If this is enabled, the hud will display the blast resistance of a block while looking at it. [default: false]
    B:BlastResist=false

    # If this is enabled, the hud will display the break progression. [default: true]
    B:BreakProgression=true

    # If this is enabled, the hud will display the enchant power of a block while looking at it. [default: true]
    B:EnchantPower=true

    # If this is enabled, the hud will display the hardness of a block while looking at it. [default: false]
    B:Hardness=false

    # If this is enabled, the hud will display information about tool harvestability. [default: true]
    B:Harvestability=true

    # When enabled, shows if the current tile can be harvested or not. [default: true]
    B:Harvestability_Harvestable=true

    # When enabled, only ore blocks will show harvestability info. [default: true]
    B:Harvestability_OnlyOres=true

    # When enabled, shows the required tool tier, if the correct tool is used, but it is not good enough. [default: true]
    B:Harvestability_Tier=true

    # When enabled, shows the required tool, if the correct one is not being held. [default: true]
    B:Harvestability_Tool=true
}


vanilla_entities {
    # When enabled, EXP orbs will show how much exp they are worth. [default: true]
    B:EXP_Orb=true

    # When enabled, shows how many times higher the horse can jump, when compared to the player. [default: true]
    B:Horse_Jump=true

    # When enabled, shows how many times faster the horse can run, when compared to the player's normal walking speed. [default: true]
    B:Horse_Speed=true

    # When enabled, shows the fuse time on lit TNT [default: true]
    B:Item_Frame=true

    # When enabled, shows the career type of villagers on the HUD. [default: true]
    B:Villager_Career=true
}


vanilla_tiles {
    # If this is enabled, the hud will display info about furnaces. [default: true]
    B:Furnace=true

    # If this is enabled, the hud will show how much longer the furnace will burn. [default: true]
    B:Furnace_Burn_Time=true

    # If this is enabled, the hud will show fuel items in a furnace. [default: true]
    B:Furnace_Fuel=true

    # If this is enabled, the hud will show input items in a furnace. [default: true]
    B:Furnace_Input=true

    # If this is enabled, the hud will show output items in a furnace. [default: true]
    B:Furnace_Output=true

    # If this is enabled, the hud will display the owner of skulls. [default: true]
    B:Skull_Names=true
}


