# Configuration file

general {
    # Blood Magic III cost (RF/tick)
    I:bmIII_RFTick=240

    # config.Woot:bmIII_altar
    I:bmIII_altar=40

    # config.Woot:bmIII_count
    I:bmIII_count=30

    # Blood Magic II cost (RF/tick)
    I:bmII_RFTick=160

    # config.Woot:bmII_altar
    I:bmII_altar=30

    # config.Woot:bmII_count
    I:bmII_count=20

    # Blood Magic I cost (RF/tick)
    I:bmI_RFTick=80

    # config.Woot:bmI_altar
    I:bmI_altar=20

    # config.Woot:bmI_count
    I:bmI_count=10

    # Decapitate III cost (RF/tick)
    I:decapIII_RFTick=240

    # Decapitate III chance to drop head
    I:decapIII_percentage=80

    # Decapitate II cost (RF/tick)
    I:decapII_RFTick=160

    # Decapitate II chance to drop head
    I:decapII_percentage=40

    # Decapitate I cost (RF/tick)
    I:decapI_RFTick=80

    # Decapitate I chance to drop head
    I:decapI_percentage=20

    # Efficiency III increase in efficiency
    I:efficiencyIII_percentage=30

    # Efficiency II increase in efficiency
    I:efficiencyII_percentage=25

    # Efficiency I increase in efficiency
    I:efficiencyI_percentage=15

    # Allow EnderDragon to be spawned in the factory
    B:globalAllowEnderDragon=true

    # Number of mobs to spawn
    I:globalBaseMobCount=1

    # Number of ticks to spawn mobs
    I:globalBaseRateTicks=320

    # XP cost to use for generating XP for the EnderDragon
    I:globalDeathCostEnderDragon=500

    # List of items to never generate from the factory [default: ]
    S:globalDropBlacklist <
     >

    # Items to drop when killing the EnderDragon (enchant,item,stacksize,chance) [default: [NO_ENCHANT,minecraft:dragon_egg,1,20.0], [LOOTING_I,minecraft:dragon_egg,1,40.0], [LOOTING_II,minecraft:dragon_egg,1,60.0], [LOOTING_III,minecraft:dragon_egg,1,80.0], [NO_ENCHANT,minecraft:dragon_breath,2,80.0], [LOOTING_I,minecraft:dragon_breath,4,80.0], [LOOTING_II,minecraft:dragon_breath,6,80.0], [LOOTING_III,minecraft:dragon_breath,8,80.0], [NO_ENCHANT,draconicevolution:dragon_heart,1,20.0], [LOOTING_I,draconicevolution:dragon_heart,1,40.0], [LOOTING_II,draconicevolution:dragon_heart,1,60.0], [LOOTING_III,draconicevolution:dragon_heart,1,80.0], [NO_ENCHANT,draconicevolution:draconium_dust,30,20.0], [LOOTING_I,draconicevolution:draconium_dust,40,40.0], [LOOTING_II,draconicevolution:draconium_dust,50,60.0], [LOOTING_III,draconicevolution:draconium_dust,60,80.0]]
    S:globalDropListEnderDragon <
        NO_ENCHANT,minecraft:dragon_egg,1,20.0
        LOOTING_I,minecraft:dragon_egg,1,40.0
        LOOTING_II,minecraft:dragon_egg,1,60.0
        LOOTING_III,minecraft:dragon_egg,1,80.0
        NO_ENCHANT,minecraft:dragon_breath,2,80.0
        LOOTING_I,minecraft:dragon_breath,4,80.0
        LOOTING_II,minecraft:dragon_breath,6,80.0
        LOOTING_III,minecraft:dragon_breath,8,80.0
        NO_ENCHANT,draconicevolution:dragon_heart,1,20.0
        LOOTING_I,draconicevolution:dragon_heart,1,40.0
        LOOTING_II,draconicevolution:dragon_heart,1,60.0
        LOOTING_III,draconicevolution:dragon_heart,1,80.0
        NO_ENCHANT,draconicevolution:draconium_dust,30,20.0
        LOOTING_I,draconicevolution:draconium_dust,40,40.0
        LOOTING_II,draconicevolution:draconium_dust,50,60.0
        LOOTING_III,draconicevolution:draconium_dust,60,80.0
     >

    # Minimum number of ticks between fake spawn learning
    I:globalLearnTicks=20

    # Maximum energy storage of a factory
    I:globalMaxPower=10000000

    # List of entities that cannot be spawned [default: ]
    S:globalPrismBlacklist <
     >

    # Use the prism whitelist - ignores the blacklist
    B:globalPrismUseWhitelist=false

    # List of entities that can be spawned [default: ]
    S:globalPrismWhitelist <
     >

    # Maximum number of mobs of each type to learn from
    I:globalSampleSize=500

    # XP cost to use for spawning the EnderDragon
    I:globalSpawnCostEnderDragon=750

    # List of mobs and spawn costs [default: [Woot:none:IronGolem=10], [Woot:Wither:Skeleton=10], [Woot:none:MagmaCube=5], [Woot:none:Enderman=10]]
    S:globalSpawnCostList <
        Woot:none:IronGolem=10
        Woot:Wither:Skeleton=10
        Woot:none:MagmaCube=5
        Woot:none:Enderman=10
     >

    # Must provide full RF/tick or lose progress
    B:globalStrictPower=false

    # Learn only from mob factory spawning
    B:globalStrictSpawns=false

    # List of entities that need a Tier III factory [default: [Woot:none:Enderman], [Woot:none:IronGolem], [Woot:none:Guardian], [Woot:Wither:Skeleton]]
    S:globalTierIIIMobList <
        Woot:none:Enderman
        Woot:none:IronGolem
        Woot:none:Guardian
        Woot:Wither:Skeleton
     >

    # Tier III max mob XP
    I:globalTierIIIMobXpCap=49

    # Tier III power cost (RF/tick)
    I:globalTierIIIRF=240

    # List of entities that need a Tier II factory [default: [Woot:none:Blaze], [Woot:none:Witch], [Woot:none:Ghast], [Woot:none:PigZombie], [Woot:none:MagmaCube]]
    S:globalTierIIMobList <
        Woot:none:Blaze
        Woot:none:Witch
        Woot:none:Ghast
        Woot:none:PigZombie
        Woot:none:MagmaCube
     >

    # Tier II max mob XP
    I:globalTierIIMobXpCap=20

    # Tier II power cost (RF/tick)
    I:globalTierIIRF=160

    # List of entities that need a Tier I factory [default: ]
    S:globalTierIMobList <
     >

    # Tier I max mob XP
    I:globalTierIMobXpCap=5

    # Tier I power cost (RF/tick)
    I:globalTierIRF=80

    # List of entities that need a Tier IV factory [default: [Woot:none:WitherBoss]]
    S:globalTierIVMobList <
        Woot:none:WitherBoss
     >

    # Tier IV max mob XP
    I:globalTierIVMobXpCap=65535

    # Tier IV power cost (RF/tick)
    I:globalTierIVRF=320

    # Mob XP cost (RF/tick)
    I:globalXpRF=16

    # Looting III cost (RF/tick)
    I:lootingIII_RFTick=240

    # Looting III enchant level
    I:lootingIII_enchantLevel=3

    # Looting II cost (RF/tick)
    I:lootingII_RFTick=160

    # Looting II enchant level
    I:lootingII_enchantLevel=2

    # Looting I cost (RF/tick)
    I:lootingI_RFTick=80

    # Looting I enchant level
    I:lootingI_enchantLevel=1

    # Mass III cost (RF/tick)
    I:massIII_RFTick=240

    # Mass III number of mobs
    I:massIII_mobCount=8

    # Mass II cost (RF/tick)
    I:massII_RFTick=160

    # Mass II number of mobs
    I:massII_mobCount=6

    # Mass I cost (RF/tick)
    I:massI_RFTick=80

    # Mass I number of mobs
    I:massI_mobCount=4

    # Rate III cost (RF/tick)
    I:rateIII_RFTick=240

    # Rate III number of ticks to spawn mobs
    I:rateIII_ticks=40

    # Rate II cost (RF/tick)
    I:rateII_RFTick=160

    # Rate II number of ticks to spawn mobs
    I:rateII_ticks=80

    # Rate I cost (RF/tick)
    I:rateI_RFTick=80

    # Rate I number of ticks to spawn mobs
    I:rateI_ticks=160

    # XP III cost (RF/tick)
    I:xpIII_RFTick=240

    # XP III experience percentage
    I:xpIII_boost=80

    # XP II cost (RF/tick)
    I:xpII_RFTick=160

    # XP II experience percentage
    I:xpII_boost=40

    # XP I cost (RF/tick)
    I:xpI_RFTick=80

    # XP I experience percentage
    I:xpI_boost=20
}


